/*https://www.colorcombos.com/color-schemes/14/ColorCombo14.html*/
/*style clearing*/

body {
    margin: 0px;
    border: 0px;
    padding: 0px;

    background-color: #C3C3E5;
    color: #443266;

    font-family: sans-serif;
    line-height: 125%;
}

ul {
    margin: 0px;
    border: 0px;
}



/*header*/

.header {
    width: 100%;
    clear: both;
    padding: 5px;

    background-color: #443266;

    text-align: center;
}
.header ul {
    padding: 0px;
}
.header li {
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline;

    border: 2px solid #C3C3E5;
    border-radius: 15px;
}
.header a {
    color: #C3C3E5;
    font-weight: bold;
    text-decoration: none;
}



/*footer*/

.footer {
    width: 100%;
    clear: both;
    padding: 1px;

    background-color: #443266;

    text-align: center;
}
.footer a {
    color: #C3C3E5;
    text-decoration: none;
}



/*content*/

.content{
    display: flex;
}
@media (max-width: 960px) {
    .content {
        display: block;
    }
}

.sider {
    flex: 1;
    max-width: 320px;
}
@media (max-width: 960px) {
    .sider {
        max-width: none;
        max-height: 75px;
        overflow: hidden;
        transition: height;
    }
    .sider:hover {
        height: auto;
        max-height: none;
    }
}

.center{
    flex: 3;
    max-width: 50%;
    padding: 15px;

    background-color: #F1F0FF;
}
@media (max-width: 960px) {
    .center{
        max-width: 100%;
    }
}



/*elements*/

.horizontal_nav {
}
.horizontal_nav a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.horizontal_nav .prev {
}
.horizontal_nav .next {
    float: right;
}

.block {
    max-width: 100%;
    margin: 10px;
}

.example {
    max-width: 100%;
    margin: 10px;
    padding: 10px;

    color: #8C489F;
    border: 1px solid gray;
    border-radius: 15px;
}

.code {
    text-decoration: underline;
}

.image {
    text-align: center;
}
.image img {
    width: auto;
    max-width: 100%
}





ul {
    list-style-type: circle;
    list-style-position: outside;
}

table {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    empty-cells: show;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    text-align: center;
}