/*https://www.colorcombos.com/color-schemes/14/ColorCombo14.html*/

/*style clearing*/
body {
    margin: 0px;
    border: 0px;
    padding: 0px;

    background-color: #C3C3E5;

    color: #443266;
    font-family: sans-serif;
    line-height: 125%;
}
ul {
    margin: 0px;
    border: 0px;
    padding: 0px;
    padding-left: 2.5em;
}
li .plain_block {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

/*header*/

.header {
    width: 100%;
    clear: both;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    overflow-x: auto;
    overflow-y: visible;
    white-space: nowrap;

    background-color: #443266;

    text-align: center;
    color: #C3C3E5;
}
.header ul {
    padding: 0px;
}
.header li {
    padding: 10px;
    margin-left: 0.5em;
    margin-right: 0.5em;
    display: inline-block;

    border: 2px solid #C3C3E5;
    border-radius: 15px;
}
.header a {
    color: #C3C3E5;
    font-weight: bold;
    text-decoration: none;
}

/*footer*/

.footer {
    width: 100%;
    clear: both;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    background-color: #443266;

    text-align: center;
    color: #C3C3E5;
}
.footer a {
    color: #C3C3E5;
    text-decoration: none;
}

/*content*/

.content {
    display: flex;
    min-height: 75%;
}
@media (max-width: 960px) {
    .content {
        display: block;
    }
}

/*sider navigation bar*/

.sider {
    flex: 1;
    max-width: 25%;
}
@media (max-width: 960px) {
    .sider {
        max-width: none;
        max-height: 4em;
        overflow: hidden;
        transition-property: height;
    }
    .sider:hover {
        max-height: none;
        height: auto;
    }
}

/*center of page*/

.page {
    flex: 3;
    max-width: 50%;
    padding: 1em;

    background-color: #F1F0FF;
}
@media (max-width: 960px) {
    .page{
        max-width: 100%;
    }
}

/*next-prev horizontal navigation bar*/

.next_prev {
    display: inline-block;
    width: 99%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.next_prev .prev {
    float: left;
    width: 49%;
}
.next_prev .next {
    float: right;
    width: 49%;
    text-align: right;
}

/*breadcrumbs navigation bar*/

.breadcrumbs {
    display: inline-block;
    width: 99%;
    margin: 0.5em;
}

/*blocks*/

.header_block {
    max-width: 100%;
    margin: 0.5em;
}

.quote_block {
    max-width: 100%;
    margin: 0.5em;
    padding: 0.5em;

    color: #8C489F;
    border: 1px solid #443266;
    border-radius: 15px;
}

table {
    margin: 1em;
    empty-cells: show;
    border-collapse: collapse;
}
th {
    border: 1px solid #443266;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: center;
}
td {
    border: 1px solid #443266;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: center;
}

.plain_block {
    max-width: 100%;
    margin: 0.5em;
}

ul {
    list-style-type: "\2605";
    list-style-position: outside;
}
li {
    padding-left: 0.5em;
}
li .quote_block {
    margin-right: 3.5em;
}

/*elements*/

img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    max-width: 99%;
    width: auto;
}

.code {
    text-decoration: underline;
}